.about{
    .flex(column, flex-start, flex-start);
    border-bottom:1px solid @text-color;
    h3{
        .flexsimp(center, center);
        width: 30rem;
        height:5rem;
        .border();
    }

    p{
        .flexsimp(center, center);
        width:100%;
        height: auto;
        background: @accent-color;
        border-radius: 10rem;
        padding: 3rem;
        margin: 2rem 0;
        
    }
}

