@main-color: @dark-blue;
@accent-color: @light-blue;
@text-color: #252a2a;

@font: 'Nunito', sans-serif;


@mobile: ~'(max-width: 500px)';
//color palette 

@dark-blue:  #4661B7;
@green: #72C421;
@light-blue: #04A3D3;
@yellow: #E88802;
@red: #DB2E30;


//Mixins

.flexsimp(@just, @align){
    display: flex;
    justify-content: @just;
    align-items: @align;   
}

.flex(@dir, @just, @align){
    display: flex;
    flex-direction: @dir;
    justify-content: @just;
    align-items: @align;
}

.border(){
    border: 1px solid @main-color;
    border-radius: 10rem;
}
